/******************************************************************************/
/******************************************************************************/
/* Roster stuff
/******************************************************************************/
/******************************************************************************/
div#roster-div { display: block; width: 600px; border-width: 1px; border-style: solid; border-radius: 3px; background: #FFFFFF; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px; padding: 0; font-family: "Oswald", "FuturaBook", sans-serif; font-size: 1em; }

ul#roster-ul { width: 600px; border-radius: 3px; display: block; list-style: none; }

ul#roster-ul li.horizontal-li:nth-of-type(2n+1) { background: rgba(0, 0, 0, 0.05); }

ul#roster-ul li.horizontal-li:nth-of-type(2n+2) { background: rgba(0, 0, 0, 0.15); }

ul#roster-ul li { height: 36px; width: 600px; display: block; margin: 0; }

ul#roster-ul li.bg1 { background: rgba(0, 0, 0, 0.05); }

ul#roster-ul li.bg2 { background: rgba(0, 0, 0, 0.15); }

ul#roster-ul li:last-child { border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }

ul#roster-ul li ul.member-info-ul { display: block; vertical-align: middle; }

ul#roster-ul li ul.member-info-ul li { display: inline block; margin: 0px; padding: 4px 2px 2px 2px; float: left; height: 30px; vertical-align: middle; line-height: 30px; font-family: "Oswald", sans-serif; font-weight: 300; font-size: 1.2em; }

ul#roster-ul li ul.member-info-ul li.member-info-name { width: 302px; padding: 4px 2px 2px 20px; }

ul#roster-ul li ul.member-info-ul li.member-info-gender { width: 96px; text-align: center; }

ul#roster-ul li ul.member-info-ul li.member-info-division { width: 136px; text-align: center; }

/* Screen for displaying results */
div#screen { position: absolute; width: 100%; height: 100%; overflow: hidden; }

div#results-box { margin: 0 auto; width: 600px; height: 100%; overflow: scroll; }

/******************************************************************************/
/******************************************************************************/
/* Update roster stuff
/******************************************************************************/
/******************************************************************************/
#roster-form-box { width: 780px; margin: 10px auto; }

#roster-form fieldset { background-color: #fafafa; background-color: rgba(250, 250, 250, 0.9); background-repeat: repeat-x; background-position: top; width: 900px; margin-left: auto; margin-right: auto; }

#roster-form fieldset legend { font-size: 1.8em; font-family: "Oswald", sans-serif; margin: 10px 10px 10px 10px; }

#roster-form fieldset.userLogin label { display: inline-block; vertical-align: top; font-size: 1.1em; line-height: 21px; }

#roster-form fieldset.userLogin label.longLabel { width: 300px; margin: 5px 4px 5px 4px; }

#roster-form fieldset.userLogin input { display: inline-table; border: 1px solid #999; height: 19px; background-image: url("join_images/input-background.png"); background-repeat: repeat-x; background-position: top; }

#roster-form fieldset.userLogin .longField { width: 298px; }

#header-div { border-bottom: 1px solid black; width: 780px; height: 43px; }

#header-table { margin: 0; padding: 0; width: 770px; border: 1px solid black; border-collapse: collapse; height: 43px; table-layout: fixed; }

#header-tr th { border: 1px solid black; font-size: 1.0em; font-weight: 100; font-family: "Oswald", sans-serif; height: 43px; text-align: center; margin: 0; padding: 0; }

th.header-th-short { width: 30px; }

th.header-th-medium { width: 180px; }

th.header-th-long { width: 200px; }

div#entry-div { height: 300px; width: 900px; overflow: auto; margin: 0; padding: 0; border-bottom: 1px solid black; }

table#entry-table { margin: 0; padding: 0; width: 770px; border: 1px solid black; border-collapse: collapse; background-color: #EEEEEE; table-layout: fixed; }

tr.entry-tr { height: 20px; }

td.entry-td-short, td.entry-td-medium, td.entry-td-long { border: 1px solid black; }

td.entry-td-short { width: 30px; }

td.entry-td-medium { width: 180px; }

td.entry-td-long { width: 200px; }

tr.entry-tr td input { height: 20px; margin: 0; padding: 0; border: none; outline: none; outline-width: 0; }

input.entry-input-short { width: 100%; }

input.entry-input-medium { width: 100%; }

input.entry-input-long { width: 100%; }

table#entry-table select { height: 25px; font-size: 1.1em; }

select.entry-select-medium { width: 150px; }

select.entry-select-short { width: 60px; }

#add-field-button { float: none; display: block; width: 100px; margin: 10px auto; }

#submit { float: none; display: block; width: 100px; margin: 10px auto; }

#membership-content-box { display: block; }

#membership-content-box p { font-family: "Oswald", sans-serif; font-size: 1.3em; }

#membership-content-box h2 { text-align: center; font-family: "LeagueGothic", sans-serif; font-size: 3em; }

#membership-content-box ul.disc-marker { font-family: "Oswald", sans-serif; font-size: 1.3em; font-weight: 300; }

#membership-content-box ul.disc-marker li { list-style: disc inside; margin-left: 20px; }

#club-address-box { font-family: "Oswald", sans-serif; font-weight: 400; font-size: 1.5em; text-align: center; display: block; width: 400px; margin-left: auto; margin-right: auto; }
