			<div id="content-right-title">
				<h1>Roster</h1>
			</div>
			<div id="membership-content-box">
				<p>
					<a href="updateroster.php">Enter or update</a> your roster entry.
				</p>
				<div id="roster-div">
					{{outlet}}
				</div>
			</div>
